<!DOCTYPE html>
<html>
  <head>
    <title>Furima28303</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# <script src="index.js"></script> %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<header class="top-page-header">
  </header>
    <%= yield %>
  </body>
</html>
